//h1-color
$h1_color: red;
//h2-color
$h2_color: blue;
//h3-color
$h3-color: green;
//p-color
$p_color: black;
$bg-btn:orange;
$cl-btn:white;
//Best-padding
$button_padding: 16px 24px;
$card-padding: 24px 24px;
$main-padding: 24px 100px 24px 100px;
//best border
$border-btn:32px;
//beest margin top
$main-margin-top:60px;
//



