// button color
$bg-btn: orange;
$btn-hover: #e65c00;
$cl-btn: white;
//best-padding
$button_padding: 16px 24px;
$card-padding: 24px 24px;
$main-padding: 24px 100px 24px 100px;
$main-padding-top: 24px;
//best border
$border-btn: 32px;
//beest margin 
$main-margin-top: 40px;
$main-margin-buttom: 40px;
//width button
$width-btn: 160px;