*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
   margin: 0;
  padding: 0;

}
.promotion-card-maain {
  margin-top: $main-margin-top;
  color: black;
  display: flex;
  padding:0 124px 0 124px ;
  gap:40px;
}

.promotion-card {
  width: 50%;
  padding: 24px 16px;
  display: flex;
  background: black;
  color: white;
  border-radius: 8px;

  .img {
    border: 3px solid white;
    height: 230px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2000px;

  }

  img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    transition: transform 0.4s ease;
    overflow: hidden;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    border-radius: $border-btn;
    width:$width-btn;
    padding: $button_padding;
    background-color: $bg-btn;
    color: white;
    border: none;
  }

  .promotion-card-right {
    margin-left: 24px;
  }
}

/* Hover Effect */
.promotion-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.promotion-card:hover img {
  transform: scale(1.1);
}


//customer
.customer-main {
  margin-bottom: $main-margin-buttom;
  text-align: center;
}

.testimonial-container {
  display: flex;
  gap: 40px;
  padding: 0 124px 0 124px;
  margin-bottom: 40px;
}

.testimonial-card {
  background: #1e242c;
  color: #fff;
  padding: 20px;
  border-radius: 6px;
  width: 48%;
  height: 120px;
  position: relative;
  display: none;
  /* hide by default */
}

.testimonial-card h4 {
  margin: 15px 0 5px;
  font-weight: bold;
}

.testimonial-card p {
  margin: 0;
}

.testimonial-image {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.testimonial-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #fbbf24;
  object-fit: cover;
}

.testimonial-nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.testimonial-nav button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:$bg-btn;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.testimonial-nav button:hover {
  background:$btn-hover;
}

footer {
  background: #000;
  color: white;

  .footer-top {
    display: flex;
    gap: 80px;

    //Footer top left
    .footer-top-left {
      width: 30%;
      display: flex;
      text-align: center;
      flex-direction: column;
    }

    //Footer top left hover
    span:hover {
      color: orange;
    }

    //Footer top center
    .footer-top-center {
      text-align: center;
      width: 30%;

      ul {
        display: flex;
        justify-content: center;
        gap: 40px;

        li,
        a {
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          list-style: none;
          color: #000;
          background: white;
          border-radius: 64px;
        }

        a:hover {
          color: orange;
        }
      }
    }

    //Footer top right
    .footer-top-right {
      text-align: center;
      width: 30%;
    }

  }

  .footer-bottom {
    margin-top: 40px;
    border-top: 1px solid #444;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #aaa;
  }
}

