* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;

}

h2 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 60px;
  font-size: 40px;
  font-style: normal;
}

// Promotion
.promotion-card-maain {
  margin-top: $main-margin-top;
  color: black;
  display: flex;
  padding: 0 124px 0 124px;
  gap: 40px;
}

.promotion-card {
  width: 50%;
  padding: 24px 40px;
  display: flex;
  background: black;
  color: white;
  border-radius: 8px;

  h3 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 60px;
    font-size: 40px;
    font-style: normal;
  }

  h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 60px;
    font-size: 40px;
    font-style: normal;
  }

  .img {
    border: 3px solid white;
    height: 230px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90%;

  }

  img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    transition: transform 0.4s ease;
    overflow: hidden;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    border-radius: $border-btn;
    width: $width-btn;
    padding: $button_padding;
    background-color: $bg-btn;
    color: white;
    border: none;
  }

  .promotion-card-right {
    margin-left: 24px;
  }
}

// Hover Effect
.promotion-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.promotion-card:hover img {
  transform: scale(1.1);
}

//customer
.customer-main {
  margin-bottom: $main-margin-buttom;
  text-align: center;
}

.testimonial-container {
  display: flex;
  gap: 40px;
  padding: 0 124px 0 124px;
  margin-bottom: 40px;
}

.testimonial-card {
  background: #1e242c;
  color: #fff;
  padding: 20px;
  border-radius: 6px;
  width: 48%;
  height: 120px;
  position: relative;
  display: none;
}

.testimonial-card h4 {
  margin: 15px 0 5px;
  font-weight: bold;
}

.testimonial-card p {
  margin: 0;
}

.testimonial-image {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.testimonial-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #fbbf24;
  object-fit: cover;
}

.testimonial-nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.testimonial-nav button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg-btn;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.testimonial-nav button:hover {
  background: $btn-hover;
}


